section.archive-page-opener {
  position: relative;
  display: block;
  z-index: 1;
  mix-blend-mode: lighten;
  span.inner {
    position: relative;
    z-index: 1;
    background: repeating-linear-gradient(45deg, $primary-color, $primary-color 0.8rem, $background-color 0.8rem, $background-color 1.5rem);
    display: block;
    padding: 0 3rem;
    mix-blend-mode: lighten;
    h1.title {
      position: relative;
      z-index: 2;
      display: block;
      margin: 0;
      padding: 0 1rem;
      display: inline-block;
      background: $background-color;
    }
  }
}