section.page-view {
  div.inner {
    padding: 2rem 0 0;
    div.view {
      &.desktop {
        figure.view-container { padding-top: calc(80% / 16 * 10.5); }
      }
      &.tablet {
        figure.view-container { padding-top: calc(80% / 3.8 * 3); }
      }
      &.mobile {
        width: 35%;
        figure.view-container { padding-top: calc(80% / 9 * 18); }
      }
      width: 90%;
      margin: 0 auto;
      border: 2px $primary-color solid;
      box-sizing: border-box;
      transition: width $transition;
      span.title-bar {
        display: block;
        width: 100%;
        height: 1rem;
        background-color: transparent;
        position: relative;
        border: 2px $primary-color solid;
        margin: -2px -2px 0;
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0.4rem;
          height: 0.3rem;
          width: 2rem;
          background: #ffa90a;
          left: 0.3rem;
          border-radius: 1rem;
          box-shadow: 0 0 6px #c90505;
        }
        span.controls {
          display: block;
          width: 0.6rem;
          height: 0.6rem;
          position: absolute;
          top: 0.2rem;
          right: 1.4rem;
          background-color: $primary-color;
          border-radius: 50%;
          font-size: 0;
          line-height: 0;
          &::before, &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: inherit;
            border-radius: inherit;
            font-size: inherit;
            line-height: inherit;
            top: 0rem
          }
          &::before {
            left: 1rem;
          }
          &::after {
            right: 1rem;
          }
        }
      }
      figure.view-container {
        display: block;
        position: relative;
        overflow-y: scroll;
        height: 0;
        margin: 0;
        box-sizing: border-box;
        transition: padding $transition;
        &::after {
          content: 'LOADING PREVIEW';
          font-size: $h3;
          line-height: $h3;
          font-family: $font-family;
          font-weight: 600;
          color: $primary-color;
          text-shadow: $primary-box-shadow;
          background: $background-color;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0;
          transition: opacity $transition;
        }
        &.loading {
          &::after {
            opacity: 1;
          }
        }
        img {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}